<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sensor Status</title>
</head>
<body>
  <h1>Sensor Status</h1>
  <div><span id="temperature"></span>C</div>
  <div><span id="humidity"></span>%</div>
  <div><span id="pressure"></span>hba</div>
  <div><span id="rain"></span>mm</div>
  <div><span id="wind-avg"></span>m/s</div>
  <div><span id="wind-gust"></span>m/s</div>
  <script src="/client.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
