$ionicons-font-path: '~ionicons/dist/fonts';
$ionicons-version: 'v3.0';

@import '~ionicons/dist/scss/ionicons';

* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.0rem;
}

p {
  margin: 0;
  padding: 0;
}

.component {
  h2, h3, p {
    text-align: center;
  }

  h2 {
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 3rem;
    line-height: 1;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}


#app {
  display: flex;
  align-items: stretch;
  flex-flow: column;

  header,
  nav {
    flex: 0 0 auto;
  }

  .content {
      flex: 0 1 auto;
      height: 100vh;
  }
}

@media (min-width: 769px) {
  #app {
    width: 769px;
    margin: 0 auto;
  }
}
