$ionicons-font-path: '~ionicons/dist/fonts';
$ionicons-version: 'v3.0';

@import '~ionicons/dist/scss/ionicons';

* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  touch-action: manipulation;
}

a {
  color: #d83840;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.0rem;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;

  li {
    flex: 1 0 50%;

    p {
      margin: 0.5rem 0;
      text-align: center;
    }
  }
}

.component {
  margin-bottom: 1rem;

  h2, h3, p {
    text-align: center;
  }

  h2 {
    margin: 1.5rem 0 0.5rem 0;
    text-transform: uppercase;
  }

  h3 {
    font-size: 3rem;
    line-height: 1;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .data {
    display: flex;
    align-items: baseline;

    h3, span {
      flex: 1 0 auto;
    }

    h3 {
      text-align: right;
    }

    span {
      flex: 0 0 30%;
      margin-left: 0.5rem;
    }
  }
}

#app {
  height: 100%;

  & > div {
    display: flex;
    align-items: stretch;
    flex-flow: column;
    height: 100%;
  }

  header,
  nav {
    flex: 0 0 auto;
  }

  .content {
    flex: 1 0 auto;
    margin: 10px;
  }
}

@media (min-width: 550px) {
  ul {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  #app {
    width: 769px;
    margin: 0 auto;
  }
}
