.weather {
  margin: 1rem 1rem;

  h2 {
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-flow: column;

    li {
      display: flex;
      align-items: baseline;
      margin-bottom: 0.5rem;

      .type {
        flex-basis: 23%;
        padding-right: 0.2rem;
      }
    }

    span {
      text-transform: lowercase;
    }

    h3 {
      flex-basis: 24%;
      margin-right: 0.25rem;
      font-size: 2rem;
      line-height: 1;
      text-align: right;
    }
  }
}
