.weather {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;

  h2 {
    flex: 0 1 20%;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-flow: column;
    flex: 0 1 80%;

    li {
      display: flex;
      align-items: baseline;
      margin: 0.2rem 0.5rem;
    }

    span {
      margin: 0 0.3rem;
      text-transform: lowercase;
    }

    h3 {
      font-size: 2rem;
      line-height: 1;
    }
  }
}
