.windspeed {
  h2 {
    margin: 1rem 0;
    text-align: center;
  }

  ul {
    display: flex;
    margin: 1rem 0;

    li {
      flex: 1 0 50%;

      p {
        margin: 0.5rem 0;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.2;
      }
    }
  }

  .data {
    display: flex;
    align-items: baseline;

    h3, span {
      flex: 1 0 auto;
    }

    h3 {
      font-size: 3rem;
      line-height: 1;
      text-align: right;
    }

    span {
      margin-left: 0.5rem;
    }
  }
}

@media (min-width: 550px) {
  .windspeed {
    width: 70%;
    margin: 0 auto;
  }
}
